<html>
<head>
  <title> <%= @libro.nombre %></title>
</head>
<body>
  <p>
    <b>Nombre: <%= @libro.nombre %></b>
  </p>
  <p>
    <b>Autor del libro: <%= @libro.autor %></b>
  </p>
  <p>
    <b>Descripcion: <%= @libro.descripcion %></b>
  </p>
  <p>
    <b>Reseña hecha por: <%= @libro.usuario %></b>
  </p>
  <img src="<%=@libro.img_ruta%>">
</body>
</html>
